.hover-shadow-lg:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.emblem-link {
    color: #007bff;          /* Blue color similar to Bootstrap's default link color */
    text-decoration: none;   /* No underline by default */
    transition: 0.3s ease;   /* Smooth transition for hover effect */
}

.emblem-link:hover {
    text-decoration: underline; /* Underline on hover */
}