{{ define "main" }}
{{ partial "intro.html" . }}

<div class="container mt-5">
    {{ with .Params.sections }}
        {{ range . }}
            <div class="section mb-5">
                <h2>{{ .title }}</h2>
                {{ range .items }}
                    <div class="card mb-4">
                        <div class="row no-gutters">
                            <div class="col-md-4 d-flex flex-column align-items-center justify-content-center"> <!-- Modified to flex-column -->
                                {{ $imageURL := .image }}
                                {{ if not (strings.HasPrefix $imageURL "http") }}
                                    {{ $imageURL = printf "%s%s" $.Site.BaseURL $imageURL }}
                                {{ end }}
                                <img src="{{ $imageURL }}" class="card-img mb-2" alt="{{ .main_text }}" style="width: {{ .imageWidth }}; height: {{ .imageHeight }};">
                                <div class="image-caption mt-2">{{ .image_caption }}</div>
                            </div>
                            
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ .main_text }}</h5>
                                    <p class="card-text">{{ .sub_text }}</p>
                                    <div class="project-description">{{ .description | markdownify }}</div>
                                </div>
                            </div>                            
                        </div>
                        <div class="card-footer">
                            <h6>Skills:</h6>
                            {{ range .skills }}
                                {{ if eq .type "font" }}
                                    <i class="fa {{ .icon }}"></i> {{ .description }}
                                {{ else if eq .type "image" }}
                                    <img src="/path/to/emoji/{{ .icon }}.png" alt="{{ .description }}" width="20"> {{ .description }}
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}
