{{ define "main" }}
<div class="container text-center mt-5">
    {{ with .Params.sections }}
        {{ range . }}
            <div class="section {{ .title | urlize }}">
                <h2>{{ .title }}</h2>
                {{ range .items }}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 text-center">
                                {{ $linkURL := .link }}
                                {{ if not (strings.HasPrefix $linkURL "http") }}
                                    {{ $linkURL = printf "%s%s" $.Site.BaseURL $linkURL }}
                                {{ end }}
                                <a href="{{ $linkURL }}" target="_blank">
                                    {{ $imageURL := .image }}
                                    {{ if not (strings.HasPrefix $imageURL "http") }}
                                        {{ $imageURL = printf "%s%s" $.Site.BaseURL $imageURL }}
                                    {{ end }}
                                    <img src="{{ $imageURL }}" class="img-fluid my-3" alt="{{ .main_text }}" style="width: {{ .imageWidth }}; height: {{ .imageHeight }};">
                                    <h5 class="card-title">
                                    <a href="{{ $linkURL }}" class="emblem-link" target="_blank">{{ .emblem_text }}</a>
                                </h5>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ .main_text }}</h5>
                                    <p class="card-text">{{ .sub_text }}</p>
                                    {{ with .optional }}
                                        <ul class="list-unstyled">
                                        {{ range . }}
                                            <li>{{ . | safeHTML }}</li>
                                        {{ end }}
                                        </ul>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}