{{ define "footer" }}
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p class="text-center">
            &copy; {{ now.Year }} Sathyanarayan Rao. All rights reserved. Powered by coffee ☕.
            <br>Website styled with <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap</a>.
        </p>
        <p class="text-center">
            <a href="https://info.flagcounter.com/wmwB">
                <img src="https://s01.flagcounter.com/count2/wmwB/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0">
            </a>
        </p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{ end }}