{{ define "footer" }}
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <p class="text-center">
            &copy; {{ now.Year }} Sathyanarayan Rao. All rights reserved. Powered by coffee ☕.
            <br>Website styled with <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap</a>.
        </p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{ end }}
