{{ define "header" }}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            {{ range .Site.Data.header.navbar }}
                <li class="nav-item">
                    {{ $linkURL := printf "%s%s" $.Site.BaseURL .link }}
                    <a class="nav-link" href="{{ $linkURL }}" style="font-size: 1.2rem;">{{ .name }}</a>
                </li>
            {{ end }}
        </ul>
    </div>
</nav>
{{ end }}
