<section id="introduction" class="text-dark-grey text-center py-5" 
         style="background: url('{{ .Params.background_image | relURL }}') no-repeat center center; background-size: cover;">
    <div class="container">
        <h1>{{ .Params.title }}</h1>
        <p>{{ .Params.subtitle }}</p>
    </div>
</section>


<section id="text-container" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p>{{ .Params.intro_text }}</p>
            </div>
        </div>
    </div>
</section>



