{{ define "main" }}

{{ partial "intro.html" . }}

<section id="image-section" class="py-5 text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 col-sm-3 col-md-2"> <!-- Adjust the column sizes as needed -->
                <img src="{{ .Params.image | relURL }}" alt="My Image" class="img-fluid rounded-circle shadow" style="max-width: 200px; height: auto;">
            </div>
        </div>
    </div>
</section>

<section id="cards" class="py-5">
    <div class="container">
        <div class="row">
            {{ range .Params.cards }}
            <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
                <div class="card shadow-sm w-100">
                    <div class="card-icon">
                        {{ $linkURL := .link }}
                        {{ if not (strings.HasPrefix $linkURL "http") }}
                            {{ $linkURL = printf "%s%s" $.Site.BaseURL $linkURL }}
                        {{ end }}
                        <a href="{{ $linkURL }}" target="_blank">
                            {{ $iconURL := .icon }}
                            {{ if not (strings.HasPrefix $iconURL "http") }}
                                {{ $iconURL = printf "%s%s" $.Site.BaseURL $iconURL }}
                            {{ end }}
                            <img src="{{ $iconURL }}" alt="{{ .title }} Icon" style="width: {{ .iconW }}; height: {{ .iconH }}; display: block; margin: 0 auto;">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ .title }}</h5>
                        <p class="card-text">{{ .description }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}
